@font-face {
  font-family: Averta;
  src: url(./assets/fonts/AvertaDemoPE-Regular.woff);
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: Averta;
}

.global-container {
  position: relative;
  width: 100%;
  top: 38px;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 10px 10px 0px;
  z-index: 1;
  transition: background-color .5s;
}

.nav-links {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links:last-child {
  padding-right: 10px; 
}

.nav-links li a {
  text-decoration: none;
  color: black;
  transition: background-color .2s;
  padding: 10px;
}

.nav-links li a:hover {
  background-color: rgb(240, 241, 255);
}

.horizontal-line {
  width: 100%;
  height: 1px;
  margin-right: 10px;
  background-color: black;
}

.company-name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  top: 5px;
  margin: 0 auto;
}

.tag-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #091022;
  margin-top: 10px;
}

.company-tag {
  position: relative;
  color: rgb(221, 224, 255);
  text-transform: uppercase;
  text-align: center;
  font-size: 4.64vw;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-imgs-container, .header-text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47vh;
  background-color: #db3752;
  margin: 0 auto;
}

.header-text-container {
  background-color: #091022;
}