/* FONTS */
@font-face {
  font-family: NeutralFace;
  src: url(./assets/fonts/NeutralFace.otf);
}

@font-face {
  font-family: PPHatton-Medium;
    src: url(./assets/fonts/PPHatton-Medium.otf);}

@font-face {
  font-family: PPEiko-Medium;
  src: url(./assets/fonts/PPEiko-Medium.otf);
}

@font-face {
  font-family: PPEiko-Thin;
    src: url(./assets/fonts/PPEiko-Thin.otf);}

/* BASE STYLES */

* {
  padding: 0;
  margin: 0;

  /* hide scrollbars - we can modify this later, maybe add a custom one - otherwise will use CTAs */

  -ms-overflow-style: none; 
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display:none;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.global-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.horizontal-line {
  width: 100%;
  height: 1.5px;
  margin-right: 10px;
  background-color: black;
}

.horizontal-center {
  position: relative;
  display: flex;
  align-items: center;
}

.vertical-center {
  position: relative;
  display: flex;
  justify-content: center;
}

h2, h3 {
  font-family: PPEiko-Thin;
}

h4, label, input, textarea, button {
  font-family: NeutralFace;
  letter-spacing: calc(0.3px + 0.07vw);
  font-weight: 100;
}

/* NAVBAR */

.navbar {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 10px 10px;
  z-index: 1;
  transition: background-color .5s;
  color: #091022;
}

.nav-links {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links:last-child {
  padding-right: 10px; 
}

.nav-links li a {
  font-family: NeutralFace;
  font-size: calc(8px + 0.8vw);
  letter-spacing: calc(0.3px + 0.07vw);
  text-decoration: none;
  color: black;
  transition: opacity .2s;
  padding: 10px 20px;
  letter-spacing: 1.5px;
}

.nav-links li a:hover {
  opacity: .5;
}

.ocove-logo {
  height: calc(20px + 1.7vw);
  padding: 10px;
  margin: 0 10px;
}

/* SECTIONS */

.section-container {
  position: absolute;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.margin-top {
  margin-top: 4em;
}

.section-title {
  position: relative;
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title h1 {
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
}

/* LANDING PAGE */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: .5;
  top: 0;
  left: 0;
}

.brand-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(5%)
}

.brand-name-line-1 {
  letter-spacing: calc(1px + 0.1vw);
  transform: translateY(18%);
}

.brand-name-line-2 {
  letter-spacing: calc(-0.15px + -1.3vw);
  transform: translateY(-18%);
}

.brand-name-line-1, .brand-name-line-2 {
  font-family: PPHatton-Medium;
  text-transform: uppercase;
  font-size: calc(60px + 13vw);
}

.info-container-1, .info-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.info-container-1 p {
  font-family: PPEiko-Medium;
  font-size: calc(18px + 2.8vw);
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  line-height: calc(28px + 4.5vw);
  letter-spacing: 1px;
  text-align: justify;
}

.home-3 {
  display: flex;
}

.home-3-left, .home-3-right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.info-container-2 p {
  font-family: PPEiko-Thin;
  font-size: calc(10px + 2vw);
  width: 70%;
  line-height: calc(30px + 2.7vw);
}

.particle-container {
  height: 60vh;
  width: 80%
}

#tsparticles {
  width: 90%;
  height: 80%;
  margin: 2vw 1vw
}

.view-projects-button {
  width: 40%;
  height: 55px;
  background-color: white;
  border: solid 1.5px black;
  font-family: NeutralFace;
  font-size: calc(8px + 0.8vw);
  letter-spacing: 2px;
} 

.three-logo {
  display: inline;
  position: absolute;
  width: inherit;
  height: inherit;
}

.three-logo-model {  
  z-index: 0;   
  transform: translateX(20%);
  opacity: .4
}

.three-logo-overlay {
  opacity: 1;
  /* background: rgb(255,255,255);
  background: linear-gradient(135deg, rgb(255, 255, 255) 10%, rgb(255, 255, 255, 0.5) 35%, rgba(0, 0, 0, 0) 70%); */
  top: 0;
}

/* .landing-page-bg {
  position: fixed;
  background: rgb(223, 223, 223);
  background: linear-gradient(160deg, rgb(223, 223, 223) 0%, rgb(189, 189, 189) 100%);
  background-image: url(./assets/glass-structure-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  opacity: .3;
} */

/* .info-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 100vh;
  opacity: 1;
  background-color: white;
  transition: opacity .5s ease-in-out;
} */

/* PROJECTS SECTION */

.project-container {
  height: 90vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.project-menu {
  box-sizing: border-box;
  font-family: NeutralFace;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  width: 25vw;
  /* max-width: 00px; */
  height: 80%;
  margin: 0 0 0 4vw;
  font-size: calc(9px + 0.8vw);
}

.project-menu ul {
  list-style-type: none;
}

.project-menu li {
  text-decoration: none;
  margin: 1em 0 1em 0;
  transition: opacity .2s;
  line-height: calc(15px + 1vw);
}

.project-menu li:hover {
  cursor: pointer;
  opacity: .8;
}

.project-window {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 4vw;
  height: 90%;
  width: 75vw;
  box-sizing: border-box;
  transition: ease .5s;
}

.project-text {
  box-sizing: border-box;
  width: 50%;
  margin: 2vw;
  height: 90%;
  font-family: PPEiko-Thin;
  font-size: calc(9px + 0.8vw);
  line-height: calc(15px + 1.5vw);
}

.project-images-container {
  width: 50%;
  background-color: none;
  object-fit: cover;
  overflow: hidden;
}

.project-images {
  text-align: center;
  background-color: rgb(186, 196, 206);
  width: 100%;
  opacity: 1;
  transition: ease .3s;
  height: auto;
}


/*SERVICES SECTION*/

/* .section-theme {
  background: rgba(231,236,241,1);
  background: -moz-linear-gradient(270deg, rgba(242,244,246,0.09987745098039214) 0%, rgba(231,236,241,0.5816701680672269) 60%, rgba(231,236,241,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(242,244,246,0.09987745098039214) 0%, rgba(231,236,241,0.5816701680672269) 60%, rgba(231,236,241,1) 100%);
  background: linear-gradient(270deg, rgba(242,244,246,0.09987745098039214) 0%, rgba(231,236,241,0.5816701680672269) 60%, rgba(231,236,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f4f6",endColorstr="#e7ecf1",GradientType=1);
  color: #35393d;
} */

.services-container {
  height: 100%;
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.services, .header-container {
  padding: 1vw 4vw 4vw 4vw;
}

.services h2 {
  font-size: calc(25px + 2vw);
  font-weight: 500;
}

.services h4 {
font-size: calc(6px + 0.8vw);
}

.service-icon-container {
  width: 20%;
  /* padding: 0.1vw; */
  box-sizing: border-box;
}

.service-icon {
  width: 100%;
  height: 25vh;
}

/* .service-name h2 {
  font-family: NeutralFace;
  letter-spacing: 1px;
  font-weight: 100;
} */

/* .services-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.contact-section-1 {
  height: 100vh;
  background-color: white;
}

.form-container {
  position: relative;
  width: 60%;
  margin: 5vw auto 0 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-button {
  position: absolute;
  transform: translateY(5.6vw)
}

.form-button button {
  cursor: pointer;
  border-left: solid 1.5px black;
  border-right: solid 1.5px black;
  border-top: none;
  border-bottom: none;
  padding: 1vw 4vw;
  font-size: calc(9px + 0.8vw);
  background-color: white;
}

.form {
  width: 70%;
}

.form input, textarea {
  width: 100%;
  height: 4vw;
  border: none;
  resize: none;
  outline: none;
}

input::placeholder, textarea::placeholder {
  font-family: inherit;
  font-size: calc(6px + 0.8vw);
  padding: 1vw 0 1vw 0;
}

.services-3 {
  height: 70vh
}

/* --- FADE --- */ 

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}